<a href="https://colab.research.google.com/github/carolchristmashan/Han_ChompV2/blob/main/AY26_12_Week_Exam_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
salary_dict = {
    '1/C': 550,
    '2/C': 450,
    '3/C': 350,
    '4/C': 250
}

In [ ]:
# loop over an add up all payment values for 4 years here
total = 0
for k,v in salary_dict.items():
  total += 12 * v

print(f"Your total earnings at USNA: ${total}")

Your total earnings at USNA: $19200

In [ ]:
# Create a class called MidPay.
# Attributes should be: name, paygrade, salary_dict, salary_paid (should default to empty list)
# Methods should be(make_payment), get_annual_salary(return & prints total of last 12 payments), and promote (bump up in rank)

class MidPay():
  def __init__(self, name, paygrade='4/C', salary_paid = []):
    self.name = name
    self.paygrade = paygrade
    self.salary_paid = salary_paid
    self.salary_dict = salary_dict = {
                                        '1/C': 550,
                                        '2/C': 450,
                                        '3/C': 350,
                                        '4/C': 250
                                    }
  def make_payment(self):
    # adds in a payment to your salary_paid list
    self.salary_paid.append(self.salary_dict[self.paygrade])
    print("You got paid!")

  def get_annual_salary(self):
    # returns total of last 12 payments
    total = sum(self.salary_paid[-12:])
    return total

  def promote(self, new_paygrade):
    # increase paygrade to the next level
    self.paygrade = new_paygrade

In [ ]:
# make a 3/C instance of MidPay
new_mid = MidPay('David', '3/C')

In [ ]:
# call Pay me 6 times promote me, then pay me 8 times, and get annual salary for you taxes!
for i in range(6):
  new_mid.make_payment()

new_mid.promote('2/C')

for i in range(6):
  new_mid.make_payment()

You got paid!
You got paid!
You got paid!
You got paid!
You got paid!
You got paid!
You got paid!
You got paid!
You got paid!
You got paid!
You got paid!
You got paid!

In [ ]:
# get annual salary
total_taxable_salary = new_mid.get_annual_salary()
print(total_taxable_salary)

4800

In [ ]:
# promote

In [ ]:
# check paygrade

In [ ]:
# get the annual salary

In [ ]:
# make a 3/C instance of MidPay
# call Pay me 6 times promote me 8 times, and get annual salary for you taxes!

In [ ]:
weather_data ={
    'New York': {
        'temperature_C': [20.5, 21.2, 22.0, 21.8, 19.7], #temperature over the past 5 hours
        'humidity_percent': 65.0,
        'precipitation_mm': 0.0
    },
    'Los Angeles': {
        'temperature_C': [25.0, 26.5, 26.8, 27.2, 25.9],
        'humidity_percent': 70.5,
        'precipitation_mm': 0.5
    },
    'Chicago': {
        'temperature_C': [18.2, 17.8, 19.0, 18.5, 20.1],
        'humidity_percent': 55.8,
        'precipitation_mm': 0.0
    },
    'Miami': {
        'temperature_C': [30.8, 31.5, 31.2, 32.0, 30.9],
        'humidity_percent': 75.2,
        'precipitation_mm': 1.2
    },
    # ... Add more cities and data here ...
    'London': {
        'temperature_C': [15.3, 14.8, 16.0, 15.7, 14.5],
        'humidity_percent': 80.1,
        'precipitation_mm': 3.5
    }
}

In [ ]:
# get the 1st recorded temp for New York
weather_data['New York']['temperature_C'][0]

20.5

In [ ]:
# make a function that just returns the avg temp for  a city (city name is the argument)
def get_avg_temp(weather_data, city='New York'):
  # get this city's temperature list
  temps = weather_data[city]['temperature_C']
  # get the average
  avg_temp = sum(temps)/len(temps)
  return avg_temp

In [ ]:
# call the function
miamis_avg = get_avg_temp(weather_data, 'Miami')
print(miamis_avg)

31.28

In [ ]:
# Python Multiple Choice Questions on For Loops

# -----------------------------------------------
# Question 1: For loop with range()
# -----------------------------------------------
# What will be the output of the following code?
for i in range(3):
    print(i)
# A) 1 2 3
# B) 0 1 2
# C) 0 1 2 3
# D) 1 2
# Correct Answer:

0
1
2

In [ ]:

# -----------------------------------------------
# Question 2: For loop with range() and step
# -----------------------------------------------
# What is printed by the following code?
for i in range(2, 10, 3):
    print(i, end=" ")
# A) 2 5 8
# B) 2 4 6 8
# C) 2 5 7 9
# D) 2 6 9
# Correct Answer:

2 5 8

In [ ]:

# -----------------------------------------------
# Question 3: For loop with list iteration
# -----------------------------------------------
# What will be the output?
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
# A) apple banana cherry
# B) ["apple", "banana", "cherry"]
# C) fruit
# D) Error
# Correct Answer:

apple
banana
cherry

In [ ]:

# -----------------------------------------------
# Question 4: For loop with list index
# -----------------------------------------------
# What will the following print?
colors = ["red", "green", "blue"]
for i in range(len(colors)):
    print(i, colors[i])
# A) red green blue
# B) 1 red, 2 green, 3 blue
# C) 0 red, 1 green, 2 blue
# D) Error
# Correct Answer:

0 red
1 green
2 blue

In [ ]:

# -----------------------------------------------
# Question 5: Nested for loop with range
# -----------------------------------------------
# What is the output?
for i in range(2):
    print(f"i is {i}")
    for j in range(2):
        print(f"j is {j}")
        print(i, j)
# A) (0,0) (1,1)
# B) 0 1
# C) 0 0, 0 1, 1 0, 1 1
# D) Error
# Correct Answer:

i is 0
j is 0
0 0
j is 1
0 1
i is 1
j is 0
1 0
j is 1
1 1

In [ ]:

# -----------------------------------------------
# Question 6: Nested for loop with list of lists
# -----------------------------------------------
# What is printed?
matrix = [[1, 2], [3, 4], [5, 6]]
for row in matrix:
    for num in row:
        print(num, end=" ")
# A) 1 2 3 4 5 6
# B) [1,2] [3,4] [5,6]
# C) 1 3 5 2 4 6
# D) Error
# Correct Answer:

1 2 3 4 5 6

In [ ]:

# -----------------------------------------------
# Question 7: For loop with dictionary keys
# -----------------------------------------------
# What does this code print?
student = {"name": "Alice", "age": 20, "grade": "A"}
for key in student:
    print(key)
# A) name age grade
# B) Alice 20 A
# C) ('name', 'Alice') ('age', 20) ('grade', 'A')
# D) Error
# Correct Answer:

name
age
grade

In [ ]:

# -----------------------------------------------
# Question 8: For loop with dictionary values
# -----------------------------------------------
# What is printed?
prices = {"apple": 1.2, "banana": 0.8, "cherry": 2.5}
for value in prices.values():
    print(value)
# A) apple banana cherry
# B) 1.2 0.8 2.5
# C) ("apple", 1.2), ("banana", 0.8), ("cherry", 2.5)
# D) Error
# Correct Answer:

1.2
0.8
2.5

In [ ]:

# -----------------------------------------------
# Question 9: For loop with dictionary items
# -----------------------------------------------
# What does the following print?
capitals = {"France": "Paris", "Italy": "Rome", "Spain": "Madrid"}
for country, city in capitals.items():
    print(country, "->", city)
# A) France->Paris Italy->Rome Spain->Madrid
# B) ("France", "Paris") ("Italy", "Rome") ("Spain", "Madrid")
# C) country city
# D) Error
# Correct Answer:

France -> Paris
Italy -> Rome
Spain -> Madrid

In [ ]:

# -----------------------------------------------
# Question 10: Combining lists and dictionaries
# -----------------------------------------------
# What will be the output?
students = [{"name": "Tom", "score": 90}, {"name": "Jerry", "score": 85}]
for student in students:
    print(student["name"], student["score"])
# A) name score
# B) Tom 90 Jerry 85
# C) {'name': 'Tom', 'score': 90}, {'name': 'Jerry', 'score': 85}
# D) Error
# Correct Answer:

Tom 90
Jerry 85

![image.png]()

In [ ]:
# What is the Freq? Include units
T = 0.001667
f = 1/T # Hz
f

599.880023995201

In [ ]:
# what is the DC? Make sure it's a value between 0 and 1
dc = 0.000667/ T
dc

0.400119976004799

In [ ]:
# write pico code to generate the above signal on GP20

from machine import Pin, PWM

led_pin = PWM(Pin(20))

led_pin.freq = f

led_pin.duty_u16(int(dc * 65535))

In [ ]:
# Python Multiple Choice Questions on Functions

# -----------------------------------------------
# Question 1: Basic Function Definition
# -----------------------------------------------
# What is the correct way to define a function in Python?
# A) function myFunc():
# B) def myFunc[]:
# C) def myFunc():
# D) func myFunc():
# Correct Answer:

In [ ]:


# -----------------------------------------------
# Question 2: Function Return Value
# -----------------------------------------------
# What will be the output of the following code?
def add(a, b):
    return a + b
result = add(3, 4)
print(result)
# A) 3
# B) 4
# C) 7
# D) Error
# Correct Answer:

7

In [ ]:

# -----------------------------------------------
# Question 3: Function with Default Parameter
# -----------------------------------------------
# What is printed by this code?
def greet(name="Guest"):
    print("Hello,", name)
greet()
# A) Hello, Guest
# B) Hello,
# C) Error
# D) Guest
# Correct Answer:

Hello, Guest

In [ ]:

# -----------------------------------------------
# Question 4: Multiple Parameters
# -----------------------------------------------
# What is the output?
def multiply(x, y):
    return x * y
print(multiply(2, 5))
# A) 7
# B) 10
# C) 25
# D) Error
# Correct Answer:

10

In [ ]:

# -----------------------------------------------
# Question 5: Keyword Arguments
# -----------------------------------------------
# What will be printed?
def divide(a, b):
    return a / b
print(divide(b=2, a=10))
# A) 0.2
# B) 5.0
# C) Error
# D) 10
# Correct Answer:

5.0

In [ ]:

# -----------------------------------------------
# Question 6: Returning Multiple Values
# -----------------------------------------------
# What is printed by the following?
def calc(x, y):
    return x + y, x - y
result = calc(5, 3)
print(result)
# A) 8, 2
# B) (8, 2)
# C) [8, 2]
# D) Error
# Correct Answer:

(8, 2)

In [ ]:

# -----------------------------------------------
# Question 7: Nested Function
# -----------------------------------------------
# What will this code output?
def outer():
    def inner():
        return "Inside"
    return inner()
print(outer())
# A) Inside
# B) inner
# C) outer
# D) Error
# Correct Answer:

Inside

In [ ]:

# -----------------------------------------------
# Question 8: Function Without Return
# -----------------------------------------------
# What does this print?
def show():
    print("Showing")
result = show()
print(result)
# A) Showing None
# B) Showing
# C) None
# D) Error
# Correct Answer:

Showing
None

In [ ]:

# -----------------------------------------------
# Question 9: Return vs No Return
# -----------------------------------------------
# What is printed here?
def f1():
    return 5
def f2():
    x = 5
print(f1(), f2())
# A) 5 5
# B) 5 None
# C) None 5
# D) Error
# Correct Answer:

5 None

In [ ]:

# -----------------------------------------------
# Question 10: Function Resolution and Execution
# -----------------------------------------------
# What is printed by the following code?
def get_value():
    return 10
def printer():
    print(get_value())
result = printer()
print(result)
# A) 10 10
# B) 10 None
# C) None 10
# D) Error
# Correct Answer:

10
None